.toc-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: "#DCA034";
}

.toc-logo img {
    width: 128px;
    padding: 16px 0;
}

.content img,
.content video,
.iframe-container {
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}
